
.sidebar {
    width: 15%;
    position: fixed;
    box-shadow: 2px 2px 2px #ddd;
    height: 100%;
    background-color: #fff;
    z-index: 998;
    top:35%;
    text-align: center;
    line-height: 50px;
}

.sidebar a{
	color: #000000;
}

a:focus, a:hover {
    color: #0083ff;
}