.side-nav{
	top: 70px;
	padding-bottom: 150px;
	img{
	margin: 20px 20px 20px 0px ;
	border:6px solid grey;
	display: inline !important;
	float: right;
	margin:none;
}
	h5{
	margin: 20px 10px 10px 35px ;
	font-size: 20px;
	font-weight: 600 !important;
}
	span{
	margin-left: 10px;
	display: inline;
	font-size: 20px;
	font-weight: 300 !important;
	float: left;
}
	
}



.card-reveal{
	.material-icons{
		font-size: 36px;
		margin-left: 20px;
		margin-bottom: 10px;
}
	.card-title{
	font-size:24px;
	line-height:30px;
	height:60px;
}


}


.modalopen{
	z-index: 1003;
    display: none ;
    opacity: 1;
    transform: scaleX(1);
    top: -20% !important;
    width: 277px !important;
    height: 173px !important;
    text-align: center;


}