.side-nav{
	top: 70px;
	padding-bottom: 150px;
	img{
	margin: 20px 20px 20px 0px ;
	border:6px solid grey;
	display: inline !important;
	float: right;
	margin:none;
}
	h4{
	margin: 10px 10px 10px 15px ;
	font-size: 20px;
	font-weight: 600 !important;
}
	span{
	margin-left: 10px;
	display: inline;
	font-size: 20px;
	font-weight: 300 !important;
	float: left;
}
	
}



.card-reveal{
	.material-icons{
		font-size: 36px;
		margin-left: 20px;
		margin-bottom: 10px;
}
	.card-title{
	font-size:24px;
	line-height:30px;
	height:60px;
}


}